[submodule "lib/libftprintf"]
	path = lib/libftprintf
	url = git@github.com:DPBastings/42printf.git
[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:DPBastings/42libft.git
[submodule "lib/libmlx42"]
	path = lib/libmlx42
	url = https://github.com/codam-coding-college/MLX42.git
